*{
    margin:0;
    padding:0;
}

body{
    background-attachment:fixed;
}

.header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0px;
}
.header .box{
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.header .box .text{
    white-space: nowrap;
    color: aliceblue;
}

.title{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.preface{
    text-align: center;
}

.box{
    margin-top: 25px;
}

.box .Q{
    color: rgb(255, 40, 100);
}
.box .A{
    color: rgb(0, 20, 110);
}

.box .go-to-location{
    float:left;
    background-color: aliceblue;
    margin-left: 15%;
    padding: 15px;
    width: 500px;
}

.box .go-to-location .title{
    text-align: center;
}

.box .go-to-location .describe{
    font-size: 14px;
    color: rgb(50, 50, 50);
}
.box .go-to-location .option{
    margin: 15px;
}

.box .seek-npc{
    float:left;
    background-color: aliceblue;
    padding: 15px;
    width: 450px;
}

.box .seek-npc .title{
    text-align: center;
}

.box .seek-npc .describe{
    font-size: 14px;
    color: rgb(50, 50, 50);
}
.box .seek-npc .option{
    margin-left: 15px;
}

.box .sundry{
    float:left;
    background-color: aliceblue;
    padding: 15px;
    width: 320px;
}

.box .sundry .title{
    text-align: center;
}

.box .sundry .describe{
    font-size: 14px;
    color: rgb(50, 50, 50);
}
.box .sundry .option{
    margin-left: 15px;
}

.box .sundry .item-generate{
    float:left;
    width: 150px;
    text-align: center;
}
.box .sundry .mechanism{
    float:right;
    width: 170px;
    text-align: center;
}

.footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.footer .box{
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.footer .box .text{
    white-space: nowrap;
    color: aliceblue;
}